<head>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <style class="cp-pen-styles">body {
	padding-top: 30px;
}
.product {
	margin-bottom: 30px;
}
.product-inner {
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	padding: 10px;
}
.product img {
	margin-bottom: 10px;
}
    </style>
</head>

<div class="row card-group">
    <div fxLayout="row">
        <div class="row justify-content-center">
            <div class="col-8 links">
                <div class="card">
                    <div class= "card-body">
                        <div>
                            <h3 class="card-title">{{article.title}}</h3>
                        </div>
                        <br>
                        <div>
                            <p class="card-subtitle mb-2 text-muted">{{article.articleAbstract}}</p>
                        </div>
                        <div>
                            <h4 class card-subtitle mb-2>PMID: {{article.pmid}} </h4>
                        </div>
                        <div>
                            <h4 class card-subtitle mb-2>Journal: {{article.journal}} </h4>
                        </div>
                        <div>
                            <label>keywods:</label>
                            <div>
                                <mdb-badge *ngFor="let keyword of article.keywords">{{keyword}}</mdb-badge>
                            </div>
                        </div>
                        <br>
                        <label>authors:</label>
                        <div>
                            <mdb-badge *ngFor="let author of article.authorList">{{author}}</mdb-badge>
                        </div>
                        <br>
                        <div>
                            <label>Publish Date:</label>
                            {{article.publishDate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" id="tag">
        <form #articleForm="ngForm" (ngSubmit) = "tagArticle()">
            <div class="form-group col-xs-9">
                <input class="form-control" type="text" placeholder="Custom Tag Name" name="customTagName" [(ngModel)]="customTagName"/>
            </div>
            <div class="form-group col-xs-9">
                <input class="form-control" type="text" placeholder="Custom description" name="customDescription" [(ngModel)]="customTagDescription" />
            </div>
            <div class="form-group col-xs-3">
                <button type="submit" class="btn btn-block btn-primary">Tag Article</button>
            </div>
            <div class="form-group col-sm-3 col-xs-6">.
                <label class="form-check-label">
                    Wikidata Object
                </label>
            </div>
        </form>
    </div>   
</div>
<form [formGroup]= "formGroup">
    <mat-form-field >
        <mat-label>
            Here!!
        </mat-label>
        <input class="completer-input form-control mdb-autocomplete" name="wikidata" formControlName= "wikidata" matInput type="text"  [matAutocomplete]= "auto"  [(ngModel)]="query" />
        <mat-autocomplete  #auto="matAutocomplete"  [displayWith]="displayFn"  textNoResults="I have found no results :(" >
            <mat-option  *ngFor= "let wikiOption of wikiOptions; let i = index" name="wikidata2" formControlName= "wikidata2" [value] = "wikiOptions[i]" [(ngModel)]="wikiObject" >
                {{wikiOption.id}}  
                {{wikiOption.description}} 
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>   
</form>  




