<html>
<body>
<div class="signup-form">
    <form #loginForm="ngForm" (ngSubmit) = "registerUser()">
		<h2>Sign Up</h2>
		<p>Please fill in this form to create an account!</p>
		<small class="text-danger">{{msg}}</small>
		<hr>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
				<input type="text" class="form-control" name="username" placeholder="Username" required="required" [(ngModel)]="user.userName">
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock"></i></span>
				<input type="password" class="form-control" name="password" placeholder="Password" required="required" [(ngModel)]="user.password">
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-lock"></i>
					<i class="fa fa-check"></i>
				</span>
				<input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required" [(ngModel)]="confirmPassword">
			</div>	
        </div>
		<div>
			<span id="resultMessageField"ng-bind="status.message">{{resultMessage}}</span>
		</div>
		<div class="form-group">
            <button type="submit"  [disabled]="!loginForm.valid" class="btn btn-primary btn-block">Sign Up</button>
        </div>
    </form>
	<div class="text-center">Already have an account? <a href="/login">Login here</a></div>
</div>

<router-outlet></router-outlet>

</body>
</html>
